[submodule "ansible/roles/bind9_simple_authoritative_dns_server"]
	path = ansible/roles/bind9_simple_authoritative_dns_server
	url = https://github.com/johanneskastl/ansible-role-bind9_simple_authoritative_dns_server.git
[submodule "ansible/roles/configure_etc_resolv_conf"]
	path = ansible/roles/configure_etc_resolv_conf
	url = https://github.com/johanneskastl/ansible-role-configure_etc_resolv_conf.git
[submodule "ansible/roles/configure_kerberos_clients"]
	path = ansible/roles/configure_kerberos_clients
	url = https://github.com/johanneskastl/ansible-role-configure_kerberos_clients.git
[submodule "ansible/roles/configure_kerberos_kdcs"]
	path = ansible/roles/configure_kerberos_kdcs
	url = https://github.com/johanneskastl/ansible-role-configure_kerberos_kdcs.git
[submodule "ansible/roles/create_a_vimrc"]
	path = ansible/roles/create_a_vimrc
	url = https://github.com/johanneskastl/ansible-role-create_a_vimrc.git
[submodule "ansible/roles/create_krb5_conf"]
	path = ansible/roles/create_krb5_conf
	url = https://github.com/johanneskastl/ansible-role-create_krb5_conf.git
[submodule "ansible/roles/deploy_rancher_on_k3s"]
	path = ansible/roles/deploy_rancher_on_k3s
	url = https://github.com/johanneskastl/ansible-role-deploy_rancher_on_k3s.git
[submodule "ansible/roles/deploy_rancher_via_helm"]
	path = ansible/roles/deploy_rancher_via_helm
	url = https://github.com/johanneskastl/ansible-role-deploy_rancher_via_helm.git
[submodule "ansible/roles/glusterfs_clients"]
	path = ansible/roles/glusterfs_clients
	url = https://github.com/johanneskastl/ansible-role-glusterfs_clients.git
