[submodule "ansible/roles/bind9_simple_authoritative_dns_server"]
	path = ansible/roles/bind9_simple_authoritative_dns_server
	url = https://github.com/johanneskastl/ansible-role-bind9_simple_authoritative_dns_server.git
[submodule "ansible/roles/configure_etc_resolv_conf"]
	path = ansible/roles/configure_etc_resolv_conf
	url = https://github.com/johanneskastl/ansible-role-configure_etc_resolv_conf.git
[submodule "ansible/roles/configure_kerberos_clients"]
	path = ansible/roles/configure_kerberos_clients
	url = https://github.com/johanneskastl/ansible-role-configure_kerberos_clients.git
[submodule "ansible/roles/configure_kerberos_kdcs"]
	path = ansible/roles/configure_kerberos_kdcs
	url = https://github.com/johanneskastl/ansible-role-configure_kerberos_kdcs.git
[submodule "ansible/roles/create_a_vimrc"]
	path = ansible/roles/create_a_vimrc
	url = https://github.com/johanneskastl/ansible-role-create_a_vimrc.git
[submodule "ansible/roles/create_krb5_conf"]
	path = ansible/roles/create_krb5_conf
	url = https://github.com/johanneskastl/ansible-role-create_krb5_conf.git
[submodule "ansible/roles/deploy_rancher_on_k3s"]
	path = ansible/roles/deploy_rancher_on_k3s
	url = https://github.com/johanneskastl/ansible-role-deploy_rancher_on_k3s.git
[submodule "ansible/roles/deploy_rancher_via_helm"]
	path = ansible/roles/deploy_rancher_via_helm
	url = https://github.com/johanneskastl/ansible-role-deploy_rancher_via_helm.git
[submodule "ansible/roles/glusterfs_clients"]
	path = ansible/roles/glusterfs_clients
	url = https://github.com/johanneskastl/ansible-role-glusterfs_clients.git
[submodule "ansible/roles/glusterfs_servers"]
	path = ansible/roles/glusterfs_servers
	url = https://github.com/johanneskastl/ansible-role-glusterfs_servers.git
[submodule "ansible/roles/install_nfs_client_packages"]
	path = ansible/roles/install_nfs_client_packages
	url = https://github.com/johanneskastl/ansible-role-install_nfs_client_packages.git
[submodule "ansible/roles/ldap_data_basic_example"]
	path = ansible/roles/ldap_data_basic_example
	url = https://github.com/johanneskastl/ansible-role-ldap_data_basic_example.git
[submodule "ansible/roles/ldap_data_kania_ollenburg"]
	path = ansible/roles/ldap_data_kania_ollenburg
	url = https://github.com/johanneskastl/ansible-role-ldap_data_kania_ollenburg.git
[submodule "ansible/roles/make_chrony_a_ntp_server"]
	path = ansible/roles/make_chrony_a_ntp_server
	url = https://github.com/johanneskastl/ansible-role-make_chrony_a_ntp_server.git
[submodule "ansible/roles/minimal_bashrc"]
	path = ansible/roles/minimal_bashrc
	url = https://github.com/johanneskastl/ansible-role-minimal_bashrc.git
[submodule "ansible/roles/mount_ebpf"]
	path = ansible/roles/mount_ebpf
	url = https://github.com/johanneskastl/ansible-role-mount_ebpf.git
[submodule "ansible/roles/nfs_client_using_kerberos"]
	path = ansible/roles/nfs_client_using_kerberos
	url = https://github.com/johanneskastl/ansible-role-nfs_client_using_kerberos.git
[submodule "ansible/roles/nfs_server_configuration"]
	path = ansible/roles/nfs_server_configuration
	url = https://github.com/johanneskastl/ansible-role-nfs_server_configuration.git
[submodule "ansible/roles/openldap_server"]
	path = ansible/roles/openldap_server
	url = https://github.com/johanneskastl/ansible-role-openldap_server.git
[submodule "ansible/roles/samba4_ad_client_sssd"]
	path = ansible/roles/samba4_ad_client_sssd
	url = https://github.com/johanneskastl/ansible-role-samba4_ad_client_sssd.git
[submodule "ansible/roles/samba4_ad_first_dc_rsync"]
	path = ansible/roles/samba4_ad_first_dc_rsync
	url = https://github.com/johanneskastl/ansible-role-samba4_ad_first_dc_rsync.git
[submodule "ansible/roles/samba4_ad_secondary_dcs"]
	path = ansible/roles/samba4_ad_secondary_dcs
	url = https://github.com/johanneskastl/ansible-role-samba4_ad_secondary_dcs.git
[submodule "ansible/roles/selfsigned_demo_ca"]
	path = ansible/roles/selfsigned_demo_ca
	url = https://github.com/johanneskastl/ansible-role-selfsigned_demo_ca.git
[submodule "ansible/roles/set_ntp_servers_for_chrony"]
	path = ansible/roles/set_ntp_servers_for_chrony
	url = https://github.com/johanneskastl/ansible-role-set_ntp_servers_for_chrony.git
[submodule "ansible/roles/simple_ssh_config"]
	path = ansible/roles/simple_ssh_config
	url = https://github.com/johanneskastl/ansible-role-simple_ssh_config.git
[submodule "ansible/roles/sshd_config"]
	path = ansible/roles/sshd_config
	url = https://github.com/johanneskastl/ansible-role-sshd_config.git
[submodule "ansible/roles/sssd_client_for_openldap"]
	path = ansible/roles/sssd_client_for_openldap
	url = https://github.com/johanneskastl/ansible-role-sssd_client_for_openldap.git
[submodule "ansible/roles/start_and_or_enable_systemd_service"]
	path = ansible/roles/start_and_or_enable_systemd_service
	url = https://github.com/johanneskastl/ansible-role-start_and_or_enable_systemd_service.git
[submodule "ansible/roles/389_server_demo_setup"]
	path = ansible/roles/389_server_demo_setup
	url = https://github.com/johanneskastl/ansible-role-389_server_demo_setup.git
[submodule "ansible/roles/AlmaLinux_install_epel-release"]
	path = ansible/roles/AlmaLinux_install_epel-release
	url = https://github.com/johanneskastl/ansible-role-AlmaLinux_install_epel-release.git
[submodule "ansible/roles/CentOS_install_epel-release"]
	path = ansible/roles/CentOS_install_epel-release
	url = https://github.com/johanneskastl/ansible-role-CentOS_install_epel-release.git
[submodule "ansible/roles/OpenWRT_dropbear_authorizedkeys"]
	path = ansible/roles/OpenWRT_dropbear_authorizedkeys
	url = https://github.com/johanneskastl/ansible-role-OpenWRT_dropbear_authorizedkeys.git
[submodule "ansible/roles/RedHat_install_epel-release"]
	path = ansible/roles/RedHat_install_epel-release
	url = https://github.com/johanneskastl/ansible-role-RedHat_install_epel-release.git
[submodule "ansible/roles/RockyLinux_install_epel-release"]
	path = ansible/roles/RockyLinux_install_epel-release
	url = https://github.com/johanneskastl/ansible-role-RockyLinux_install_epel-release.git
[submodule "ansible/roles/add_all_nodes_to_etc_hosts"]
	path = ansible/roles/add_all_nodes_to_etc_hosts
	url = https://github.com/johanneskastl/ansible-role-add_all_nodes_to_etc_hosts.git
[submodule "ansible/roles/add_screenrc"]
	path = ansible/roles/add_screenrc
	url = https://github.com/johanneskastl/ansible-role-add_screenrc.git
[submodule "ansible/roles/add_zypper_repository"]
	path = ansible/roles/add_zypper_repository
	url = https://github.com/johanneskastl/ansible-role-add_zypper_repository.git
[submodule "ansible/roles/bootstrap_python_on_OpenWRT"]
	path = ansible/roles/bootstrap_python_on_OpenWRT
	url = https://github.com/johanneskastl/ansible-role-bootstrap_python_on_OpenWRT.git
[submodule "ansible/roles/caasp_nfs_server_configuration"]
	path = ansible/roles/caasp_nfs_server_configuration
	url = https://github.com/johanneskastl/ansible-role-caasp_nfs_server_configuration.git
[submodule "ansible/roles/configure_and_start_salt-minion"]
	path = ansible/roles/configure_and_start_salt-minion
	url = https://github.com/johanneskastl/ansible-role-configure_and_start_salt-minion.git
[submodule "ansible/roles/configure_and_start_teleport"]
	path = ansible/roles/configure_and_start_teleport
	url = https://github.com/johanneskastl/ansible-role-configure_and_start_teleport.git
[submodule "ansible/roles/configure_eth1_with_dhcp"]
	path = ansible/roles/configure_eth1_with_dhcp
	url = https://github.com/johanneskastl/ansible-role-configure_eth1_with_dhcp.git
[submodule "ansible/roles/configure_net-snmp_agent"]
	path = ansible/roles/configure_net-snmp_agent
	url = https://github.com/johanneskastl/ansible-role-configure_net-snmp_agent.git
[submodule "ansible/roles/configure_systemd-resolved"]
	path = ansible/roles/configure_systemd-resolved
	url = https://github.com/johanneskastl/ansible-role-configure_systemd-resolved.git
[submodule "ansible/roles/create_caasp_skuba_bootstrap_script"]
	path = ansible/roles/create_caasp_skuba_bootstrap_script
	url = https://github.com/johanneskastl/ansible-role-create_caasp_skuba_bootstrap_script.git
[submodule "ansible/roles/create_rke_cluster_yml"]
	path = ansible/roles/create_rke_cluster_yml
	url = https://github.com/johanneskastl/ansible-role-create_rke_cluster_yml.git
[submodule "ansible/roles/disable_SuSEfirewall2"]
	path = ansible/roles/disable_SuSEfirewall2
	url = https://github.com/johanneskastl/ansible-role-disable_SuSEfirewall2.git
[submodule "ansible/roles/disable_cloud-init_services"]
	path = ansible/roles/disable_cloud-init_services
	url = https://github.com/johanneskastl/ansible-role-disable_cloud-init_services.git
[submodule "ansible/roles/disable_firewalld"]
	path = ansible/roles/disable_firewalld
	url = https://github.com/johanneskastl/ansible-role-disable_firewalld.git
[submodule "ansible/roles/disable_ipv6"]
	path = ansible/roles/disable_ipv6
	url = https://github.com/johanneskastl/ansible-role-disable_ipv6.git
[submodule "ansible/roles/distribute_file_from_one_to_many"]
	path = ansible/roles/distribute_file_from_one_to_many
	url = https://github.com/johanneskastl/ansible-role-distribute_file_from_one_to_many.git
[submodule "ansible/roles/fetch_k3os_kubeconfig"]
	path = ansible/roles/fetch_k3os_kubeconfig
	url = https://github.com/johanneskastl/ansible-role-fetch_k3os_kubeconfig.git
[submodule "ansible/roles/fix_debian10_grub_errors"]
	path = ansible/roles/fix_debian10_grub_errors
	url = https://github.com/johanneskastl/ansible-role-fix_debian10_grub_errors.git
[submodule "ansible/roles/fix_empty_etc_resolv_conf"]
	path = ansible/roles/fix_empty_etc_resolv_conf
	url = https://github.com/johanneskastl/ansible-role-fix_empty_etc_resolv_conf.git
[submodule "ansible/roles/grub2_add_reboot_and_shutdown_to_menu"]
	path = ansible/roles/grub2_add_reboot_and_shutdown_to_menu
	url = https://github.com/johanneskastl/ansible-role-grub2_add_reboot_and_shutdown_to_menu.git
[submodule "ansible/roles/install_SUSE_HA_packages"]
	path = ansible/roles/install_SUSE_HA_packages
	url = https://github.com/johanneskastl/ansible-role-install_SUSE_HA_packages.git
[submodule "ansible/roles/install_and_configure_dnf-automatic"]
	path = ansible/roles/install_and_configure_dnf-automatic
	url = https://github.com/johanneskastl/ansible-role-install_and_configure_dnf-automatic.git
[submodule "ansible/roles/install_and_configure_logwatch"]
	path = ansible/roles/install_and_configure_logwatch
	url = https://github.com/johanneskastl/ansible-role-install_and_configure_logwatch.git
[submodule "ansible/roles/install_and_configure_yum-cron"]
	path = ansible/roles/install_and_configure_yum-cron
	url = https://github.com/johanneskastl/ansible-role-install_and_configure_yum-cron.git
[submodule "ansible/roles/install_ansible_dependencies_for_SELINUX"]
	path = ansible/roles/install_ansible_dependencies_for_SELINUX
	url = https://github.com/johanneskastl/ansible-role-install_ansible_dependencies_for_SELINUX.git
[submodule "ansible/roles/install_chrony"]
	path = ansible/roles/install_chrony
	url = https://github.com/johanneskastl/ansible-role-install_chrony.git
[submodule "ansible/roles/install_dig"]
	path = ansible/roles/install_dig
	url = https://github.com/johanneskastl/ansible-role-install_dig.git
[submodule "ansible/roles/install_emacs-nox"]
	path = ansible/roles/install_emacs-nox
	url = https://github.com/johanneskastl/ansible-role-install_emacs-nox.git
[submodule "ansible/roles/install_epel_release"]
	path = ansible/roles/install_epel_release
	url = https://github.com/johanneskastl/ansible-role-install_epel_release.git
[submodule "ansible/roles/install_k3s"]
	path = ansible/roles/install_k3s
	url = https://github.com/johanneskastl/ansible-role-install_k3s.git
[submodule "ansible/roles/install_kubeadm"]
	path = ansible/roles/install_kubeadm
	url = https://github.com/johanneskastl/ansible-role-install_kubeadm.git
[submodule "ansible/roles/install_net-snmp_packages"]
	path = ansible/roles/install_net-snmp_packages
	url = https://github.com/johanneskastl/ansible-role-install_net-snmp_packages.git
[submodule "ansible/roles/install_nfsserver_packages"]
	path = ansible/roles/install_nfsserver_packages
	url = https://github.com/johanneskastl/ansible-role-install_nfsserver_packages.git
[submodule "ansible/roles/install_ntp"]
	path = ansible/roles/install_ntp
	url = https://github.com/johanneskastl/ansible-role-install_ntp.git
[submodule "ansible/roles/install_one_or_more_packages"]
	path = ansible/roles/install_one_or_more_packages
	url = https://github.com/johanneskastl/ansible-role-install_one_or_more_packages.git
[submodule "ansible/roles/install_openmediavault_on_debian"]
	path = ansible/roles/install_openmediavault_on_debian
	url = https://github.com/johanneskastl/ansible-role-install_openmediavault_on_debian.git
[submodule "ansible/roles/install_openssh-server_on_OpenWRT"]
	path = ansible/roles/install_openssh-server_on_OpenWRT
	url = https://github.com/johanneskastl/ansible-role-install_openssh-server_on_OpenWRT.git
[submodule "ansible/roles/install_package_with_transactional-update"]
	path = ansible/roles/install_package_with_transactional-update
	url = https://github.com/johanneskastl/ansible-role-install_package_with_transactional-update.git
[submodule "ansible/roles/install_puppet_agent"]
	path = ansible/roles/install_puppet_agent
	url = https://github.com/johanneskastl/ansible-role-install_puppet_agent.git
[submodule "ansible/roles/install_puppet_server"]
	path = ansible/roles/install_puppet_server
	url = https://github.com/johanneskastl/ansible-role-install_puppet_server.git
[submodule "ansible/roles/install_python-apt"]
	path = ansible/roles/install_python-apt
	url = https://github.com/johanneskastl/ansible-role-install_python-apt.git
[submodule "ansible/roles/install_rke2"]
	path = ansible/roles/install_rke2
	url = https://github.com/johanneskastl/ansible-role-install_rke2.git
